* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.toolbox-cont {
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}

.toolbox-cont>* {
    margin-left: 4rem;
}

.toolbox-priority-cont {
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action_button {
    height: 3.5rem;
    width: 7rem;
    background-color: #3d3d3d;
    display: flex;
    color: white;
}

.action_button>* {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 2rem;
    align-items: center;
}


.color {
    height: 1.5rem;
    width: 3rem;
}

.lightpink {
    background-color: lightpink;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: lightblue;
}

.black {
    background-color: black;
}

.modal-container {
    height: 50vh;
    width: 50vw;
    background-color: skyblue;
    position: absolute;
    top: 30%;
    left: 25%;
    display: none;
}



.textArea-container {
    outline: none;
    border: none;
    height: 100%;
    width: 75%;
    background-color: #dfe4ea;
    resize: none;
    font-size: 2rem;
    padding: 2rem;



}

.priority-colorArea {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #4b4b4b;
}

.priority-color {
    height: 3rem;
    width: 5rem;
}

.main-cont {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.ticket-cont {
    height: 12rem;
    width: 15rem;
    background-color: rgb(226, 213, 208);
    
}

.ticket-color {
    height: 1rem;
    
}

.ticket-id {
    height: 2rem;
    background-color: yellow;
}

.ticket-lock{
    display:flex;
    font-size:1.5rem;
    justify-content: flex-end;
    margin-top:5.8rem;
    margin-right:1rem;
}

.add:hover{
    background-color: #4bb543;
}

.remove:hover{
    background-color: #f70d1a; ;
}

.toolbox-priority-cont>*:hover{
    background-color: #485460;
}

.active{
    border:5px solid coral;
}